<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1 class="h2 text-center">Update Profile</h1>
      <%= form_with model: @user, local: true do |f| %>
      <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :bio %>
        <%= f.text_area :bio, rows: 3, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :avatar_url %>
        <%= f.text_field :avatar_url, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <small class="form-text text-muted">Leave blank if you do not want to change your password.</small>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>