<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1 class="h2 text-center">Sign Up</h1>
      <%= form_with(model: @user, url: signup_path, local: true, html: { class: "needs-validation" }) do |f| %>
      <% if @user.errors.any? %>
      <div class="alert alert-danger py-2 px-3 small">
        <% @user.errors.full_messages.each do |message| %>
        <div><i class="fa-solid fa-circle-exclamation me-1"></i> <%= message %></div>
        <% end %>
      </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :username, class: "form-label" %>
        <%= f.text_field :username, class: "form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control", required: true %>
      </div>
      <div class="mt-4 text-center">
        <%= f.submit "Register", class: "btn btn-success w-50" %>
      </div>
      <% end %>
    </div>
  </div>
</div>