<h1><%= @post.title %></h1>
<p>by <%= link_to @post.user.username, user_path(@post.user) %></p>

<% if @post.image_url.present? %>
  <div>
    <%= image_tag @post.image_url, alt: "Post image", style: "max-width: 100%; height: auto;" %>
  </div>
<% end %>
<p><%= @post.content %></p>

<%= link_to 'Edit Post', edit_post_path(@post) %>

<h3>Tags:</h3>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to "##{tag.name}", tag_path(tag.slug) %>
    </li>
  <% end %>
</ul>

<h3>Likes: <%= @like_count %></h3>
<h3>Bookmarks: <%= @bookmark_count %></h3>
<%= button_to 'Like', likes_path(likeable_type: 'Post', likeable_id: @post.id), method: :post %>

<h3>Comments:</h3>
<%= render partial: 'posts/comment', collection: @comments, as: :comment %>

<%= link_to 'Back to Home', root_path %>
