<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Book Worms Society" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <%= link_to 'New Post', new_post_path %>
    <%= link_to 'Login', '#' %>
    <%= link_to 'Join', '#' %>
  </nav>

    <%= yield %>

     <script>
      document.addEventListener("turbo:load", function() {
        toastr.clear();
        
        <% if flash[:notice] %>
          toastr.clear();  
          toastr.success("<%= j flash[:notice] %>", { timeOut: 2000 });
        <% end %>

        <% if flash[:alert] %>
          toastr.clear();  
          toastr.error("<%= j flash[:alert] %>", { timeOut: 2000 });
        <% end %>

        <% if flash[:warning] %>
          toastr.clear(); 
          toastr.warning("<%= j flash[:warning] %>", { timeOut: 2000 });
        <% end %>

        <% if flash[:info] %>
          toastr.clear();  
          toastr.info("<%= j flash[:info] %>", { timeOut: 2000 });
        <% end %>
      });
    </script>
  </body>
</html>
